@charset "UTF-8";
/* CSS Document */
#app {
  display: grid;
  grid-template-columns: 1fr;
   grid-template-rows: 1fr 5fr 3fr repeat(5, 1.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
	font-family: 'PT Serif', serif;
	background: url("spikes copia.png")

}

#titulo{
  text-align: center;
	font-family: 'PT Serif', serif;

}

#portada {
grid-area: 2 / 1 / 4 / 2 ;
background-image:  url(https://image.shutterstock.com/image-photo/plant-growing-money-coins-glass-260nw-593837399.jpg);
background-size: auto 108%;
	margin-bottom: -5%;
	margin-left: 10%;
	margin-right: 10%;
	height: 67%;
	
}


#barradudas{
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; 
  grid-column-gap: 20px;
  grid-row-gap: 0px;
	margin-left: 10%;
	margin-right: 6%;
	margin-top: 5%;
	font-family: 'PT Serif', serif;

}
#dudas img{
  width: 100%;
  height: 80%;
}

#dudas p {
  font-size: 10px;
  text-align: center;
  margin: 0;
	margin-left: 5%;
	font-family: 'PT Serif', serif;

}
.imagenDuda img {
  width: 100%;
  height: 100%;
}
.dudaGrid{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  grid-column-gap: 10px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: aliceblue;
	font-family: 'PT Serif', serif;

}
.dudaGrid p {
  grid-area: 2 / 1 / 3 / 3;
  margin: 0;
}
#quienes{
	display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-column-gap: 10px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: dimgray;
	font-family: 'PT Serif', serif;

	
	
}